body {
  text: fixed;
  font-family: arial;
  color: orange;
  background-image: url(../images/Rock.jpeg);
}

input {
  border-color: white;
  border-style: striped;
  border-width: 5px;

}
.medium {
  width: 700px;
  height: 550px;
  position: relative;
  margin: 20px;
}

a {
  font-family: cursive;
  color: black;
}

form {
  color: black;
}
